{% extends 'index.html' %}

{% block content %}
<h1>{{nw["location"]["city"]}}, {{nw["location"]["country"]}}</h1>
<!-- <p>{{ nw["stations"] }}</p> -->

<div id='map' style='width: 400px; height: 300px;'></div>
<script>
const network = JSON.parse('{{ nw|tojson }}');
mapboxgl.accessToken = 'pk.eyJ1IjoibWFyaWFldm0iLCJhIjoiY2x4YnV5bjg4MDJxbzJvczV2bzEyZG4ybyJ9.cSYdfbsajTtOHiZljf4aRA';
const map = new mapboxgl.Map({
	container: 'map', // container ID
	style: 'mapbox://styles/mapbox/streets-v12', // style URL
	center: [{{nw["location"]["longitude"]}}, {{nw["location"]["latitude"]}}], // starting position [lng, lat]
	zoom: 9, // starting zoom
});

{% for s in nw["stations"] %}

  	this.marker = new mapboxgl.Marker()
        .setLngLat([ {{ s["longitude"] }}, {{ s["latitude"] }} ])
        .addTo(map);
	this.marker._element.id = "{{ s['id'] }}"

{% endfor %}
</script>

<div id = "stationInfo">

</div>
<!-- <button id="addButton"> Add station to favourites </button> -->

{% endblock %}